.app {
  padding: 6vh 12vw 0;
  display: flex;
  height: fit-content;
  background-color: black;
  color: white;
  position: relative;
}

.top-content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
}

.top-content.show {
  display: flex;
  flex-direction: row;
  opacity: 1;
}

@media (max-width: 768px) {
  .app {
    padding: 4vh 2vh 0px 40px;
  }
}

@media (max-width: 480px) {
  .app {
    flex-direction: column;
    padding: 4vh 2vh;
    height: auto;
  }
}

.reactImage {
  padding: 8px;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
